.page-wrapper {
    background: linear-gradient(135deg, black, rgb(67, 67, 67)); /* Diagonal gradient */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}