.investing-page {
  padding-top: 100px;
  background-color: black;
  min-height: 100vh;
  }

  .investing-content {
    margin-left:auto;
    margin-right: auto;
    border: 10px white;
    display: flex;
    flex-direction: column;
    width: 1000px;
  }
  
  .header {
    margin-bottom: 100px;
  }