.physics-page {
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top:100px;
  }

  .physics-content {
    border: 10px white;
    display: flex;
    flex-direction: column;
    width: fit-content;
  }