.physics-page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top:100px;
    box-sizing: border-box;
  }

  .physics-content {
    width: 100%;
    border: 10px white;
    display: flex;
    flex-direction: column;
  }

  .thesis-content {
    align-items: center;
    padding: 20px;
  }

  .thesis-text {
    margin-bottom: 20px;
    font-size: 20px;
    color: #dedede;
  }