.expandable-div {
    border: 2px solid grey;
    padding: 20px;
    margin-bottom: 50px;
    width: 900px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
    background-color: rgb(14, 14, 14);
  }
  
  .physics-year-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ccc;
  }
  
  .physics-year-header h2 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .arrow {
    font-size: 1.5em;
  }
  
  .physics-year-content {
    margin-top: 10px;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
  }
  