.resume-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .resume-image {
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: calc(100vh - 80px);
    object-fit: contain;
    border-radius: 2px; /* Add rounded edges */
  }


  .a{
    font-size: 100px
  }

  @media (max-width: 768px) {
    .resume-image {
      width: 90%;
    }
    .resume-page {
      height: 100vh
    }
  }
