.blogPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
}
  
.link {
    color: grey;
    text-decoration: none !important;
    font-size: 1.2rem !important;
}

.webisteLink {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    text-align: center;
  }

.BlogsContainer {
    display: flex;
    flex-direction: column;
    /*for some reason this calss isnt accessed*/
}

 @media (max-width: 768px) {
    .blogPage {
        padding-top: 30px;
    }
}